.chiffres-cles {
  padding-top: 60px;
  padding-bottom: 30px;

  @media (max-width: $screen-max-sm) {
    padding: 0;
  }

  .header-chiffres-cles {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
    flex-direction: row;
    width: 100%;

    @media (max-width: $screen-max-sm) {
      flex-direction: column;
      padding-bottom: 40px;
    }
  }

  .content-chiffres-cles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .node--type-chiffres-cles {
      margin-bottom: 42px;

      @media (max-width: $screen-max-sm) {
        margin-bottom: 20px;
      }
      .title-m {
        margin-bottom: 2px;
      }
      .text-l {
        margin-bottom: 12px;
      }
    }
  }
}
