.faq {
    padding-top: 60px;

    .row {
        .faq-item {
            .faq-item-content {
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid $black;

                .text, .btn {
                    margin-top: 30px;
                }
            }
        }
    }
}