.header-post {
  position: relative;
  color: $white;

  .content-header-post {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 0;

    .tag-post {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 12px;
    }

    .title {
      max-width: 640px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    p {
      &:last-child {
        max-width: 470px;
      }
    }
  }
}