.header-custom {
  width: 100%;
  height: 360px;
  padding: 0 15px;

  @media (max-width: $screen-max-sm) {
    height: auto;
  }

  &.vertical {
    height: auto;
  }

  .swiper-container {
    height: 100%;

    .swiper-slide.diagonal-slide {
      display: flex;
      justify-content: flex-end;
      overflow:hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      .right-container {
        display: flex;
        width: auto;
        color: $white;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        padding: 30px;
        min-width: 50%;
        max-width: 70%;

        @media (max-width: $screen-max-sm) {
          width: 100%;
          text-align: center;
          padding: 15px;
          max-width: inherit;
        }

        &.centered-text {
          @media (max-width: $screen-max-md) {
            width: 100%;
          }
          .right-text {
            align-items: center;
            text-align: center;

            .label {
              margin-bottom: 10px;
            }
            .text {
              margin-top: 15px;
            }
          }

          .background {
            width: 300%;
            height: 300%;
            left: -20%;

            &:before{
              @media (max-width: $screen-max-md){
                display: none;
              }
            }

            @media (max-width: $screen-max-md) {
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transform: unset;
            }

            @media (min-width: $screen-min-md) and (max-width: $screen-max-lg) {
              left: -30%;
            }

          }
        }

        .right-text {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          z-index: 2;
          text-align: right;
          width: 80%;
          &.center{
            text-align: center;
            align-items: center;
            .title{
              font-family: $rubik-bold;
              margin-bottom: 20px;
            }
            .btn{
              margin-top: 20px;
            }
            .label{
              margin-bottom: 20px;
            }
          }

          @media (max-width: $screen-max-sm) {
            align-items: center;
            padding: 0 40px;
            width: 100%;
          }

          .title-big {
            font-size: 6rem;
            font-family: $rubik-bold;
            line-height: 1;

            @media (max-width: $screen-max-sm) {
              font-size: 80px;
            }
          }
          .subtitle {
            font-family: $rubik-bold;
          }

          .btn {
            margin-top: 45px;
            font-family: $rubik-medium;

            @media (max-width: $screen-max-sm) {
              margin-bottom: 20px;
            }
          }
        }
        .background {
          @include transform(rotate(12deg));
          height: 300%;
          width: 220%;
          position: absolute;
          left: 0;
          top: 0;

          &:before{
            content: '';
            display: block;
            width: 40px;
            background: rgba(242, 242, 242, 0.7);
            position: absolute;
            left: -20px;
            bottom: 0;
            height: 100%;
            @media (max-width: $screen-max-sm){
              display: none;
            }
          }

          @media (max-width: $screen-max-sm) {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: unset;
          }

          @media (min-width: $screen-min-sm) and (max-width: $screen-max-md) {
            left: -100px;
          }

          @media (min-width: $screen-min-md) and (max-width: $screen-max-lg) {
            left: -100px;
          }

        }
      }
    }

    .swiper-slide.vertical-slide {
      .vertical-slide-content {
        display: flex;
        @extend .container;
        height: 100%;

        @media (max-width: $screen-max-sm) {
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
        }

        .left-container {
          display: flex;
          align-items: center;

          @media (max-width: $screen-max-sm) {
            order: 2;
            margin-top: 30px;
          }

          .left-text {
            .text, .btn {
              margin-top: 30px;

              @media (max-width: $screen-max-sm) {
                margin-top: 10px;
              }
            }

            .country {
              display: flex;
              align-items: center;
              @media (max-width: $screen-max-sm) {
                justify-content: center;
              }

              img {
                margin-right: 10px;
                color: $black;
              }
            }

            .btn {
              @media (max-width: $screen-max-sm) {
                padding-top: 10px;
                padding-bottom: 10px;
              }
            }
          }
        }

        .right-container {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          @media (max-width: $screen-max-sm) {
            justify-content: center;
            order: 1;
          }

          img {
            max-height: 400px;
            height: auto;
            max-width: 100%;
            width: auto;

            @media (min-width: $screen-max-md) and (max-width: $screen-max-lg) {
              max-height: 400px;
            }

            @media (min-width: $screen-max-sm) and (max-width: $screen-max-md) {
              max-height: 300px;
            }

            @media (max-width: $screen-max-sm) {
              max-height: 250px;
            }
          }
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: 10px;
      left: 0;
      margin: 0;

      .swiper-pagination-bullet {
        //border: 0.5px solid $white;
      }
    }
  }
}
