.hero {

  &.no-paddings {
    padding-top: 0;
    padding-bottom: 0;
  }

  .row {
    position: relative;
    color: $white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .block {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 25px 50px;

      @media (min-width: $screen-min-xs) and (max-width: $screen-max-md) {
        padding: 20px 50px;
      }

      @media (max-width: $screen-max-xs) {
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 20px 20px;
      }

      .title, .text {
        width: 100%;
      }

      .title {
        margin-bottom: 20px;

        @media (max-width: $screen-max-sm) {
          @include font-size(20px);
        }
      }

      .btn {
        margin-top: 30px;
        @media (max-width: $screen-max-sm) {
          margin-top: 15px;
        }
      }

      .text {
        margin-bottom: 40px;
        @media (max-width: $screen-max-sm) {
          margin-bottom: 0px;
        }
      }

      .title-label {
        margin-bottom: 12px;
      }
    }
  }


  &.with-2-col, &.with-1-col {
    .block {
      &>div {
        display: flex;
        margin-bottom: 30px;
        @extend .container;
      }
    }
  }

  &.with-1-col {
    .block {
      &>div {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    }
  }

  &.with-2-col {
    .block {
      &>div {
        flex-direction: row;
        text-align: left;
        @media (max-width: $screen-max-sm) {
          flex-direction: column;
        }
      }
    }
  }
}
.feature-boxes {
  .row {
    @media (max-width: $screen-max-xs) {
      width: 90%;
      margin: auto;
    }
    .single-box {
      padding: 50px;

      .content {
        color: $white;

        .title-label {
          margin-bottom: 10px;
        }

        .title{
          margin-bottom: 20px;
        }

        .text {
          margin-top: 10px;
        }
      }
    }
  }

  &.three-boxes {
    margin-top: -90px;

    @media (min-width: $screen-min-md) and (max-width: $screen-max-lg) {
      margin-top: -100px;
    }

    @media (max-width: $screen-max-md) {
      margin-top: -80px;
    }

    .row {

      .single-box {

        &:nth-child(2) {
          transform: scale(1.1);
          z-index: 2;

          @media (max-width: $screen-max-sm) {
            transform: scale(1);
          }
        }
      }
    }
  }


  &.two-boxes {
    margin-top: -120px;

    @media (min-width: $screen-min-md) and (max-width: $screen-max-lg) {
      margin-top: -100px;
    }

    @media (max-width: $screen-max-md) {
      margin-top: -80px;
    }

    .row {
      align-items: flex-start;

      .single-box {
        &:nth-child(2) {
          margin-top: 50px;

          @media (max-width: $screen-max-xs) {
            margin-top: 0;
          }
        }

      }
    }
  }
}
