.list-products {
  .block-product {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 10px 20px;
      .title, .text {
        width: 100%;
      }
      img {
        width: 100%;
      }

      .label, .text, .btn, .subtitle {
        margin-top: 10px;
      }

      .label{
        margin-bottom: 5px;
        background: $primaryred;
      }

      .title{
        margin-bottom: 10px;
        margin-top: 5px;
      }

    }
  }
}
