.container-mosaique {
  padding-top: 0;
  padding-bottom: 0;

  &.with-vertical{
    .mosaique-left{
      .mosaique-text{
        padding: 60px 60px 60px 100px;
        @media (max-width: $screen-max-sm){
          padding: 30px 20px;
        }
      }
    }
    .mosaique-right{
      .mosaique-text{
        padding: 60px 100px 60px 60px;
        @media (max-width: $screen-max-sm){
          padding: 30px 20px;
        }
      }
    }
  }

  &.with-color {
    color: #fff;
  }

  .mosaique {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 450px;

    .mosaique-text {
      padding: 60px 60px 60px 60px;
      display: flex;
      align-items: center;
      position: relative;

      @media (max-width: $screen-max-sm) {
        padding: 30px 20px;
      }

      .title-label {
        margin-bottom: 10px;
      }
      .title {
        margin-bottom: 20px;
      }

      .label {
        margin-bottom: 12px;
      }

      .with-icon {
        position: relative;
        padding-left: 45px;

        i {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          color: $primaryred;
        }
      }

      ul {
        list-style: none;
        padding-left: 0;
        padding-top: 20px;

        li {
          position: relative;

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            color: $primaryred;
          }

          padding-left: 35px;
        }
      }
    }

    .img {
      min-height: 230px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .vertical {
      font-size: 60px;
      opacity: 0.2;
      transform: rotate(180deg);
      z-index: 1;

      @media (max-width: $screen-max-sm) {
        display: none;
      }
    }

    &.mosaique-right {
      @media (max-width: $screen-max-sm){
        flex-direction: column-reverse;
      }
      .mosaique-text {
        //padding: 60px 120px 60px 0;
        @media (max-width: $screen-max-sm) {
          padding: 30px 20px;
        }
      }

      .vertical {
        position: absolute;
        right: 0;
        top: 0;
        writing-mode: tb-rl;
        height: 100%;
        text-align: center;
      }
    }

    &.mosaique-left {
      .vertical {
        position: absolute;
        left: 0;
        top: 0;
        writing-mode: tb-rl;
        height: 100%;
        text-align: center;
      }
    }
  }
}
