.pager {
  margin: auto auto 45px auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background: $white;
  padding: 10px 15px;
  // width: 100%;

  &.centered {
    width: auto;

    @media (max-width: $screen-max-sm) {
      width: 100%;
    }

    .pager__items {
      justify-content: center;

      li {
        &.pager__item--next {
          // padding-left: 70px;
        }

        &.pager__item--prev {
          // padding-right: 70px;
        }
      }
    }
  }

  .pager__items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    font-size:14px;

    li {
      &.pager__item {
        padding: 0 10px;

        &.is-active {
          a {
            border-color: $regulargrey;
            font-size: 18px;
            font-weight: 800;
            font-family: $rubik-bold;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-transform: uppercase;
          color: $black;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 1px solid transparent;
          transition: all .3s;

          &:hover {
            border-color: $regulargrey;
          }

          &.prev {
            color: $regulargrey;
          }
        }

        @media (max-width: $screen-max-sm) {
          display: none;
        }
      }

      &.pager__item--next {
        // padding-left: 130px;
        @include font-size(12px);

        @media (max-width: $screen-max-sm) {
          display: block;
        }

        @media (max-width: $screen-max-md) {
          padding-left: 30px;
        }
        a {
          width: unset;
          border: none;
          @include transition(all .3s);

          &:hover {
            border: none;
            text-decoration: underline;
            @include transition(all .3s);
          }
        }

        i {
          &:first-of-type {
            margin: 0 3px;
          }
        }
      }

      &.pager__item--prev {
        // padding-right: 130px;
        @include font-size(12px);

        @media (max-width: $screen-max-sm) {
          display: block;
        }
        @media (max-width: $screen-max-md) {
          padding-right: 30px;
        }

        a {
          width: unset;
          border: none;
          @include transition(all .3s);

          &:hover {
            border: none;
            text-decoration: underline;
            @include transition(all .3s);
          }
        }
        i {
          &:last-of-type {
            margin: 0 3px;
          }
        }
      }

      a {
        color: $black;
        text-transform: uppercase;
      }
    }
  }
}
