.performances {
  .row {
    .image-block {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        //width: 100%;
      }
    }

    .titles {
      @media (max-width: $screen-max-sm) {
        text-align: center;
      }
    }
    .list {
      padding: 0;
      margin: 0;
      .block {
        display: flex;
        border-bottom: 1px solid $lightgrey;
        padding: 15px 0;
        @include font-size(14px);
        list-style: none;
        &:last-child {
          border: none;
        }
        .left, .right {
          width: 50%;
        }
        .left {
          display: flex;
          align-items: center;
          i {
            color: $regulargrey;
            font-size: 18px;
            margin-right: 10px;
          }
        }
        .right{
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
