.questions-accordion {
  .row {
    .question-item {
      border-bottom: 1px solid $black;

      &.opened {
        .title {
          color: $primaryred;

          &:before {
            transform: rotate(90deg);
            transition: transform .3s;
          }
        }
        .content {
          display: block;
        }
      }
      .title {
        position: relative;
        cursor: pointer;
        padding: 25px 20px 25px 0;

        &:before {
          position: absolute;
          font-size: 14px;
          right: 5px;
          top: 28px;
          transition: transform .3s;
          color: $primaryred;
        }
      }
      .content {
        margin-bottom: 25px;
        display: none;
        .text-base{
          a {
            text-decoration: underline;
            //font-family: $rubik-medium;
            color: $black;

            &:hover {
              color: $primaryred;
            }
          }
        }
        .btn{
          margin-top: 20px;
        }
      }
    }
  }
}
