.reinsurance-boxes {
  width: 100%;

  &.margin{
    margin: -60px auto 0;
    padding-top: 0;
    @media (max-width: $screen-max-md) {
      margin: 0;
    }
  }

  @media (max-width: $screen-max-md) {
    min-width: 100%;
    padding: 0 15px;
    margin: 0;
  }

  &.no-margins {
    padding: 0 15px;

    .single-box {
      padding: 0;
    }
  }

  &:not(.no-margins) {
    .single-box {
      padding: 0 15px;

      @media (max-width: $screen-max-md) {
        padding: 0;
      }
    }
  }

  .row {
    width: auto;
    justify-content: center;
    margin: 0 -15px;

    @media (min-width: $screen-min-md) {
      .swiper-slide {
        flex-shrink: 1;
      }
    }

    .swiper-wrapper {
      height: unset;

      .single-box {
        height: 100%;
        min-height: 160px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        @media (max-width: $screen-max-md) {
          width: 100%;
          margin: 0;
        }

        .text-block {
          height: 100%;
          padding: 20px;
          color: $white;
          text-align: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;


          @media (min-width: $screen-min-xs) and (max-width: $screen-max-md) {
            padding: 50px 20px;
          }

          .title {
            margin-top: 15px;
            width: 100%;
          }

          .text{
            width: 100%;
            font-family: $rubik-medium;
          }
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;
      @media (max-width: $screen-max-md) {
        display: inherit;
      }
    }
  }
}
