.societe {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: $screen-max-sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .content {
    margin-bottom: 20px;

    .title {
      margin-bottom: 24px;
    }

    .text {
      margin-bottom: 50px;

      @media (max-width: $screen-max-sm) {
        margin-bottom: 20px;
      }
    }

    a {
      span {
        display: block;

        &:last-of-type {
          text-transform: lowercase;
        }
      }

      &.icon:not(.none) {
        padding-left: 65px;
        position: relative;

        &:before {
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%) translateY(-1px);
          font-size: 30px;
        }
      }
    }
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    div {
      box-shadow: 0px 2px 45px rgba(0, 0, 0, 0.15);

      &.sup {
        position: absolute;
        max-width: 250px;
        width: 100%;
        left: 20%;
        bottom: 30%;
        transform: translate(-50%);
        @media (max-width: $screen-max-sm) {
          bottom: inherit;
        }
      }

      &.inf {
        min-width: 360px;
        width: 100%;
        @media (max-width: $screen-max-sm) {
          min-width: inherit;
          max-width: 100%;
        }
      }

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
