$black              : #000;
$white              : #fff;
$lowblack           : #111;
$darkgrey           : #27323D;
$coolgrey           : #6B7290;
$regulargrey        : #A6A8B0;
$lightgrey          : #E7E7E7;
$pearlgrey          : #F9F9F9;
$indigo             : #091135;
$navy               : #061577;
$electricblue       : #2842CD;
$deepblue           : #024B9D;
$deepblue           : #005EB6;
$skyblue            : #12AAFF;
$calmred            : #BC1F3E;
$primaryred         : #CB1237;
$orange             : #E75707;
$green              : #0CC863;
