// Size for min-width
$screen-min-xs: 576px;
$screen-min-sm: 768px;
$screen-min-md: 992px;
$screen-min-lg: 1200px;
$screen-min-pad: 1024px;

// Size for max-width
$screen-max-xxs: 320px;
$screen-max-xs: 575px;
$screen-max-sm: 767px;
$screen-max-md: 991px;
$screen-max-lg: 1199px;
$screen-max-pad: 1023px;

// CONTAINER
$container: 1140px;

$header: 115px;
$header-pad: 115px;
$header-md: 160px;
$header-sm: 160px;
$header-xs: 160px;
$header-xxs: 160px;
