.btn {
    text-transform: uppercase;
    line-height: initial;

    &:focus {
        box-shadow: none;
    }

    &.btn-primary {
        background-color: $primaryred;
        padding: 12px 20px;
        border-radius: 0;
        font-family: $rubik-medium;
        box-shadow: none;
        display: inline-block;
        border: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transform: perspective(1px);
        position: relative;
        transition: all 0.3s;
        overflow: hidden;
        color: #fff;

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            height: 100%;
            left: 0;
            top: 0;
            transform: skew(-50deg);
            transition-duration: 0.6s;
            transform-origin: top left;
            width: 0;
        }
        &:hover {
            color: #fff;
        }

        &:hover:after {
            height: 100%;
            width: 160%;
            background: darken($primaryred, 10%);
        }

        &.with-icon {
            padding-right: 50px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-next;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
            }
        }
        &.with-large-icon {
            padding-right: 60px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-large-arrow;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
            }
        }
    }

    &.btn-secondary {
        background-color: $white;
        padding: 12px 20px;
        border-radius: 0;
        color: $primaryred;
        font-family: $rubik-medium;
        box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.06);
        border: 0;
        display: inline-block;
        transform: perspective(1px);
        position: relative;
        transition: all 0.3s;
        overflow: hidden;

        &:hover {
            color: #fff;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            height: 100%;
            left: 0;
            top: 0;
            transform: skew(-50deg);
            transition-duration: 0.6s;
            transform-origin: top left;
            width: 0;
        }

        &:hover:after {
            height: 100%;
            width: 142%;
            background: $primaryred;
        }

        &.with-icon {
            padding-right: 50px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-large-arrow;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
                transition: color 0.3s;
                z-index: 0;

                &:hover {
                    &:before {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.btn-outline {
        border: 1px solid $primaryred;
        display: inline-block;
        padding: 8px 15px;
        text-transform: uppercase;
        border-radius: 0;
        @include font-size(14px);
        color: $primaryred;
        font-family: $rubik-medium;
        transform: perspective(1px);
        position: relative;
        overflow: hidden;
        transition: all 0.3s;

        &:hover {
            color: #fff;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            left: 0;
            top: 0;
            transform: skew(-50deg);
            transition-duration: 0.6s;
            transform-origin: top left;
            width: 0;
        }

        &:hover:after {
            height: 100%;
            width: 160%;
            background-color: $primaryred;
        }

        &.with-icon {
            padding-right: 50px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-next;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
                color: $primaryred;
                transition: color 0.3s;
                z-index: 0;
            }

            &:hover {
                &:before {
                    color: #fff;
                }
            }
        }
        &.with-large-icon {
            padding-right: 60px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-large-arrow;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
                color: $primaryred;
                transition: color 0.3s;
                z-index: 0;
            }

            &:hover {
                &:before {
                    color: #fff;
                }
            }
        }
    }

    &.btn-noborder {
        text-transform: uppercase;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0;
        border-radius: 0;
        @include font-size(14px);
        color: $primaryred;
        font-family: $rubik-medium;
        transition: all .3s;


        &.with-icon {
            padding-right: 50px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-next;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
            }
        }

        &.with-large-icon {
            padding-right: 50px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-large-arrow;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
            }

            &:hover {
                padding-right: 60px;
            }
        }
    }

    &.custom-rounded-btn {
        border-radius: 50px;
    }

    &.btn-blue {
        background-color: $electricblue;
        padding: 12px 20px;
        border-radius: 0;
        font-family: $rubik-medium;
        box-shadow: none;
        display: block;
        border: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        color: $white;
        transform: perspective(1px);
        position: relative;
        transition: all 0.3s;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            height: 100%;
            left: 0;
            top: 0;
            transform: skew(-50deg);
            transition-duration: 0.6s;
            transform-origin: top left;
            width: 0;
        }

        &:hover:after {
            height: 100%;
            width: 142%;
            background: darken($electricblue, 10%);
        }

        &.with-icon {
            padding-right: 50px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-next;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
            }
        }
        &.with-large-icon {
            padding-right: 60px;
            position: relative;
            &:before {
                @extend [class*=" icon-"];
                @extend .icon-large-arrow;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) translateY(-1px);
            }
        }
    }

    &.extra-large {
        @include font-size(16px);
        padding: 20px;
        letter-spacing: 1px;

        @media (max-width: $screen-max-sm) {
            padding: 15px;
            @include font-size(14px);
        }
    }
    &.large {
        @include font-size(15px);
        padding: 18px 20px;
        letter-spacing: 1px;
    }
    &.medium {
        @include font-size(14px);
        padding: 16px 20px;
    }
    &.small {
        @include font-size(12px);
        padding: 10px 16px;
    }
    &.extra-small {
        @include font-size(10px);
        padding: 10px 16px;
    }
}
