.button {
    border-radius: 40px;
    padding: 10px 35px;
    &.button-red {
        background-color: $primary;
        transition: color, background-color .3s;

        &:hover {
            background-color: $white;
            transition: color, background-color .3s;
            color: $primary;
        }
    }
}