.paragraph--type--bloc-formulaire-devis{
  .text-base{
    margin-top: 2rem;
  }
}

.ajax-throbber{
  &.sk-three-bounce{
    .sk-child{
      &.sk-bounce1{
        background-color: $navy;
        border: 1px solid $navy;
      }
      &.sk-bounce2{
        background-color: #fff;
        border: 1px solid #ddd;
      }
      &.sk-bounce3{
        background-color: $primaryred;
        border: 1px solid $primaryred;
      }
    }
  }
}

.node--type-gamme,
.node--type-produit{
  &.node--view-mode-teaser{
    .same_height{
      min-height: 54px;
      @media (max-width: 479px) {
        min-height: inherit;
      }
    }
  }
}
.node--type-sous-gamme{
  &.node--view-mode-teaser{
    .same_height{
      min-height: 90px;
      @media (max-width: 479px) {
        min-height: inherit;
      }
    }
  }
}
