.modal{
  &.modal-search{
    .modal-content{
      @include box-shadow(none);
      background: none;
      border: none;
    }
  }
  &.modal-form{
    .modal-dialog{
      max-width: 325px;
    }
    .modal-content{
      background: #fff;
      border: none;
      @include border-radius(0);
      form.form-call{
        .input-block{
          margin-top: 1em;
          input[type=tel],
          input[type=text]{
            min-width: inherit;
            max-width: 100%;
          }
        }
        .api_error{
          color: $primaryred;
          text-align: center;
        }
        .api_success{
          color: $green;
          text-align: center;
        }
      }
    }
  }
}
