.quote {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: $screen-max-xs) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    blockquote {
        color: $blackgrey;
        font-size: 22px;
    }
}