.quote {
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: $screen-max-xs) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    blockquote {
        color: $blackgrey;
        font-size: 22px;
    }
}